{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Wilson County Christmas For All provides Christmas gifts for approximately 2000-2500 underprivileged children from newborns to age 15 in Wilson County every year with support from the US Marine Corps Toys for Tots, Lebanon Fire Department, and numerous other individuals & businesses. CfA also receives assistance from churches and organizations that wish to sponsor a child or children with donations of money or toys.</p>

{% endblock %}
